body {
    font-family: sans-serif, "Times New Roman";
    background: #202124;
    padding: 0;
    margin: 0;
}

#game {
    opacity: 0;
    pointer-events: none;
}

#start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-option {
    width: 150px;
    height: 150px;
    background: red;
}


button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


#grid-container {
    padding: 10px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

#box {
    background: red;
    text-align: center;
}


#grid {

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 25px;
    margin-top: 250px;
    background: #303134;
    border-radius: 10px;


    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ;

}

.box {
    border-radius: 4px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightcoral;



}

#end-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#end {
    background: #303134;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding: 10px;
}

.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}